---
import type { paper } from "@data/publications";
export interface Props {
  paper: paper[];
  year: number;
}

const { paper, year } = Astro.props;

let filtered = paper;
if (year) {
  filtered = paper.filter((item) => item.year == year);
}
---

<astro-paper-list>
  <div class="twocol onscroll-fade-right">
    <h2 id="year" aria-label={year ? year : "All"}>{year ? year : "All"}</h2>
  </div>

  <div class="responsive-twocol twocol-table onscroll-fade-in">
    {
      filtered.map((p) => (
        <div class="non-featured">
          <div class="paper">
            <div class="title">
              <div class="star" />
              <a
                href={`/paper/${p.paperId}-${p.title.replace(
                  /[^a-zA-Z0-9 ]/g,
                  ""
                )}`}
              >
                <h3>{p.title}</h3>
              </a>
            </div>
            <div class="tags">
              {p.publicationTypes &&
                p.publicationTypes.map((el) => <span>{el}</span>)}
              {p.isOpenAccess && (
                <span>
                  Open Access
                  {p.openAccessPdf && (
                    <a href={p.openAccessPdf.url} target="_blank">
                      <span class="pdf" />
                    </a>
                  )}
                </span>
              )}
            </div>
            <ul>
              {p.authors.map((a) => (
                <li before:siblings="content-dot">
                  {a.name.endsWith("Heeg") ? (
                    <strong>{a.name}</strong>
                  ) : (
                    <span>{a.name}</span>
                  )}
                </li>
              ))}
            </ul>
            <div class="details">
              <span class="font-normal">
                {p.journal && p.journal.name && p.journal.name}
                <span class="font-semibold">{p.year}</span>
              </span>
              {p.externalIds.DOI && (
                <a
                  href={`https://doi.org/${p.externalIds.DOI}`}
                  target="_blank"
                  class="pdf"
                >
                  <div class="link" />
                  {p.externalIds.DOI}
                </a>
              )}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</astro-paper-list>

<style>
  astro-paper-list {
    --at-apply: col-span-12 col-start-1 max-w-full px-3 mt-6 leading-7;
    --at-apply: "md:col-span-10 md:col-start-2";
  }

  div.responsive-twocol {
    --at-apply: grid grid-cols-1;
    --at-apply: "lg:grid-cols-2";
  }

  div.twocol {
    --at-apply: flex flex-row justify-between;
  }

  div.twocol-table {
    --at-apply: box-border grid grod-cols-1 gap-px bg-gray-200 rounded-md border
      shadow-md p-0 overflow-hidden;
  }

  div.twocol-table > div {
    --at-apply: overflow-hidden;
  }

  div.twocol-table > div > div.paper {
    --at-apply: w-full h-full bg-gray-50 p-4 text-left box-border transition-all
      duration-300 relative;
    --at-apply: "hover:bg-gray-100 hover:scale-102";
  }

  div.tags {
    margin-bottom: 0.5rem;
  }

  div.tags > span {
    border-radius: 3px;
    background-color: white;
    border: 1px solid #e0e0e0;
    padding: 2px 8px;
    margin-right: 0.5rem;
    display: inline-block;
  }

  div.tags span.pdf {
    --at-apply: i-ph-file-pdf inline-block align-middle w-6 h-6;
  }

  .paper .title {
    --at-apply: grid grid-cols-[32px_1fr] gap-2 w-full;
  }

  .featured > .paper .title .star {
    --at-apply: i-mdi-star my-auto w-8 h-8 text-yellow-400 transition-colors
      duration-300;
  }

  .non-featured > .paper .title .star {
    display: none;
  }

  .non-featured > .paper .title a {
    --at-apply: col-span-2 transition-all duration-300;
  }

  .paper .title a:hover {
    --at-apply: "hover:text-heeg-active hover:underline";
  }

  .featured:hover > .paper .title .star {
    --at-apply: text-yellow-500;
  }

  .hide-non-featured {
    --at-apply: "hidden";
  }

  .show-non-featured {
  }

  .paper .title h3 {
    margin: 0.5em 0;
    font-size: 1.125em;
    filter: none;
  }

  .paper .details {
    --at-apply: "grid grid-cols-1 gap-2 w-full md:grid-cols-2 mt-1em";
  }

  .paper .details .link {
    --at-apply: i-mdi-external-link inline-block align-middle w-4 h-4;
  }

  .paper .details a {
    --at-apply: italic font-light;
    --at-apply: "hover:text-heeg-active hover:underline";
  }

  .paper ul {
    --at-apply: p-0 list-none leading-snug font-light;
    max-height: 10rem;
    overflow: auto;
    background:
    /* Shadow Cover TOP */
      linear-gradient(rgba(249, 250, 251, 1), rgba(249, 250, 251, 1)) center top,
      /* Shadow Cover BOTTOM */
        linear-gradient(rgba(249, 250, 251, 1), rgba(249, 250, 251, 1)) center
        bottom,
      /* Shadow TOP */
        radial-gradient(
          farthest-side at 50% 0,
          rgba(0, 0, 0, 0.2),
          rgba(249, 250, 251, 1)
        )
        center top,
      /* Shadow BOTTOM */
        radial-gradient(
          farthest-side at 50% 100%,
          rgba(0, 0, 0, 0.2),
          rgba(249, 250, 251, 1)
        )
        center bottom;

    background-repeat: no-repeat;
    background-size:
      100% 40px,
      100% 40px,
      100% 14px,
      100% 14px;
    background-attachment: local, local, scroll, scroll;
  }

  .paper:hover ul {
    --at-apply: transition-all duration-300;
    background:
    /* Shadow Cover TOP */
      linear-gradient(rgba(243, 244, 246, 1), rgba(243, 244, 246, 1)) center top,
      /* Shadow Cover BOTTOM */
        linear-gradient(rgba(243, 244, 246, 1), rgba(243, 244, 246, 1)) center
        bottom,
      /* Shadow TOP */
        radial-gradient(
          farthest-side at 50% 0,
          rgba(0, 0, 0, 0.2),
          rgba(243, 244, 246, 1)
        )
        center top,
      /* Shadow BOTTOM */
        radial-gradient(
          farthest-side at 50% 100%,
          rgba(0, 0, 0, 0.2),
          rgba(243, 244, 246, 1)
        )
        center bottom;

    background-repeat: no-repeat;
    background-size:
      100% 40px,
      100% 40px,
      100% 14px,
      100% 14px;
    background-attachment: local, local, scroll, scroll;
  }

  .paper ul li {
    --at-apply: inline;
  }

  div.toggle-container {
    --at-apply: mt-3em flex items-center justify-end cursor-pointer;
  }

  .toggle-container label {
    --at-apply: text-gray-900 font-medium cursor-pointer;
  }

  .toggle-container button {
    --at-apply: border-0 p-0 relative ml-4 inline-flex w-14 rounded-full py-1
      transition;
  }

  .toggle-container button.active {
    --at-apply: bg-slate-400;
  }

  .toggle-container button.inactive {
    --at-apply: bg-slate-300;
  }

  .toggle-container button span {
    --at-apply: bg-white h-6 w-6 rounded-full transition shadow-md;
  }

  .toggle-container button span.active {
    --at-apply: translate-x-7;
  }

  .toggle-container button span.inactive {
    --at-apply: translate-x-1;
  }
</style>

<script>
  class AstroPaperList extends HTMLElement {
    constructor() {
      super();
    }
  }

  customElements.define("astro-paper-list", AstroPaperList);
</script>
