---
import Layout from "@layouts/Base.astro";
import PaperStats from "@components/publications/PaperStats.astro";
import PaperList from "@components/publications/PaperList.astro";
import Pages from "@components/publications/Pages.astro";

import { publications } from "@data/publications";

const years = publications.years;
---

<Layout title="Publications">
  <h1 class="onscroll-fade-right">Publications</h1>
  <PaperStats
    total_publications={publications.total}
    total_citations={publications.scholar.total_citations}
    h_index={publications.scholar.h_index}
    i10_index={publications.scholar.i10_index}
    last_update={publications.last_update}
    citations_per_year={publications.scholar.citations_per_year}
  />

  <PaperList paper={publications.paper} year={years[0]} />
  <PaperList paper={publications.paper} year={years[1]} />
  <PaperList paper={publications.paper} year={years[2]} />

  <Pages years={years} current={years[0]} < Layout>
    <style>
      h1 {
        --at-apply: col-span-12 col-start-1 max-w-full px-3 mt-6 leading-7;
        --at-apply: "md:col-span-10 md:col-start-2";
        --at-apply: "lg:col-span-12 lg:col-start-1";
        font-weight: 500;
        line-height: 1.25;
        font-size: 2.25em;
        margin: 1rem 0;
      }
    </style>
  </Pages>
</Layout>
