---
import Layout from "@layouts/Base.astro";
import PaperStats from "@components/publications/PaperStats.astro";
import PaperList from "@components/publications/PaperList.astro";
import Pages from "@components/publications/Pages.astro";
import PaperSource from "@components/publications/PaperSource.astro";

import HeroBackground from "@images/publications.webp";

import { publications } from "@data/publications";
import Hero from "@components/Hero.astro";

const years = publications.years;

var description = `
    Heeg.IO - Maximilian Heeg - 
    List of publications from the last three years.
    ${publications.total} total publications.
    ${publications.scholar.total_citations} citations.
    H-index ${publications.scholar.h_index}.
`;
---

<Layout title="Publications" description={description}>
  <Hero Background={HeroBackground} Background_alt="Publications">
    <h1>Publications</h1>
    <Fragment slot="subtitle">
      <h3 class="truncate">Things that I have done in the past...</h3>
    </Fragment>
  </Hero>

  <PaperStats
    total_publications={publications.total}
    total_citations={publications.scholar.total_citations}
    h_index={publications.scholar.h_index}
    i10_index={publications.scholar.i10_index}
    last_update={publications.last_update}
    citations_per_year={publications.scholar.citations_per_year}
  />

  <PaperList paper={publications.paper} year={years[0]} />
  <PaperList paper={publications.paper} year={years[1]} />
  <PaperList paper={publications.paper} year={years[2]} />

  <PaperSource last_update={publications.last_update} />

  <Pages years={years} current={years[0]} />
</Layout>
